#container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  max-width: 800px;
  margin-top: 50px;
  margin-left: 50px;
}

#gridItemAlpha:hover {
  background-color: black;	
}